@import 'styles/variables'
@import 'styles/animations'

.container
    
.cards__container
    margin-top: 10rem

.card__header
    text-transform: capitalize
    font-size: 1.8rem
    font-weight: 300
    opacity: 0
    animation: transform-top .5s ease-out forwards

.cards
    display: flex
    justify-content: space-between
    align-items: flex-start
    flex-wrap: wrap
    margin: 0 -1rem

.card
    margin-top: 4rem
    padding: 0 1rem
    flex-basis: 33%
    max-width: 33%
    opacity: 0
    animation: transform-top .5s ease-out forwards
    @for $i from 1 through 10
        &:nth-child(#{$i})
            animation-delay: $i * .1s
    
    & > *
        transition: transform .2s ease-in-out
        &:hover
            transform: scale(1.05)

    @media screen and ( max-width: 1124px )
        flex-basis: 50%
        max-width: 50%

    @media screen and ( max-width: 768px )
        flex-basis: 100%
        max-width: 100%