@import 'styles/animations'

.container
    display: flex
    justify-content: space-between
    align-items: center
    @media screen and ( max-width: 650px )
        flex-direction: column-reverse
        align-items: flex-start

    h1
        font-size: 4.5rem
        font-weight: 900
        text-transform: capitalize

    h2
        font-size: 2.6rem
        font-weight: 300

.arrow__text
    display: flex
    justify-content: flex-start
    align-items: center

    svg
        margin-right: 3rem

.arrow
    cursor: pointer
    &:hover
        animation: arrow 1s linear infinite

.search
    @media screen and ( max-width: 650px )
        align-self: flex-end
        margin-bottom: .5rem