.container
    display: flex
    justify-content: space-between
    align-items: center

    h1
        font-size: 4rem
        font-weight: 900
        text-transform: capitalize

    h2
        font-size: 2.4rem
        font-weight: 300

    .month
        text-transform: lowercase