@import 'styles/variables'

.container
    display: flex
    justify-content: center
    align-items: baseline
    position: relative

.input
    outline: none
    background: transparent
    border: none
    border-bottom: 1px solid $text-primary
    font-family: $font
    width: 20rem
    color: $text-primary
    font-size: 1.8rem

.input::placeholder
    color: $text-primary
    opacity: .7

.icon
    cursor: pointer
    z-index: 10

    svg
        width: 3rem
        height: auto

form
    transform: translateY(-15rem)
    transition: transform .5s ease-in-out
    position: absolute
    bottom: 0
    right: 100%
    &.active
        transform: translateY(0)

    @media screen and ( max-width: 640px )

        .input
            padding: 1rem 0
            background: $primary-500